*{
  margin: 0;
  padding: 0;
  font-family: FreeMono, monospace;
  text-decoration: none;
  list-style-type: none;
}

table{
  border-spacing: 0px;
}

.none{
  display: none !important;
}

.background_main{
  background-color: #141414;
}

.background_main_2{
  background-color: #181818;
}
.background_main_2_opacity{
  background-color: #181818dd;
}

.background_pink{
  background-color: #8f0527;
}

.background_pink:hover{
  background-color: #cb0637;
}

.background_red{
  background: #ff000033;
}

.background_green{
  background: #00ff0022;
}

.background_yellow{
  background: #ffff0033;
}



/* Fill */

.fill_pink{
  fill: #8f0527;
  stroke: #8f0527;
}
.fill_pink path {
  stroke: transparent !important;
}
.fill_pink:hover{
  fill: #cb0637;
  stroke: #cb0637;
  /* stroke: transparent; */
}

/* Border */

.border_bottom_pink{
  border-bottom: 1px solid #cb0637;
}

.border_pink{
  border: 1px solid #cb0637;
}


/* Collor */


.color_white{
  color: #cccccc;
}
.color_dark{
  color: #cccccc55;
}

.color_pink{
  color: #8f0527;
}

.color_pink:hover{
  color: #cb0637;
}


/* Width */
.min_width_2{
  min-width: 2em;
}
.width_4{
  width: 4em;
}

.width_5{
  width: 5em;
}

.min_width_5{
  min-width: 5em;
}
/* height */

.height_full{
  height: 100vh;
}

.height_2{
  height: 2em;
}

.height_2_5{
  height: 2.5em;
}

/* Margin */

.margin_t_1{
  margin-top: 1em;
}

.margin_b_1{
  margin-bottom: 1em;
}
.margin_b_2{
  margin-bottom: 2em;
}

.margin_l_10px{
  margin-left: 10px;
}

.margin_r_1{
  margin-right: 1em;
}
.margin_r_2{
  margin-right: 2em;
}

.margin_r_10px{
  margin-right: 10px;
}

.margin_r_3{
  margin-right: 3em;
}

/* Padding */

.padding_x_1{
  padding-left: 1em;
  padding-right: 1em;
}

.padding_x_2{
  padding-left: 2em;
  padding-right: 2em;
}

.padding_y_0_5{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.padding_y{
  padding-top: 1em;
  padding-bottom: 1em;
}

.padding_y_2{
  padding-top: 2em;
  padding-bottom: 2em;
}


/* Flex */
.flex{
  display: flex;
}

.justify_center{
  justify-content: center;
}

.justify_between{
  justify-content: space-between;
}

.justify_around{
  justify-content: space-around;
}

.align_center{
  align-items: center;
}

.flex_column{
  flex-direction: column;
}

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  
}



/* Position */


.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.position_center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.top_0{
  top: 0;
}

.bottom_0{
  bottom: 0;
}

.left_0{
  left: 0;
}


/* radius */

.radius{
  border-radius: 0.2em;
}


/* Opacity */

.opacity_0{
  opacity: 0;
  pointer-events: none;
}


.profileImage{
  border-radius: 1em;
  height: 90%;
  margin-right: 10px;
}



/* Font */

.text_0_5{
  font-size: 0.5em;
}

.text_0_75{
  font-size: 0.75em;
}

.text_1{
  font-size: 1em;
}

.text_1_25{
  font-size: 1.25em;
}

.text_1_5{
  font-size: 1.5em;
}

.text_2{
  font-size: 2em;
}


.text_center{
  text-align: center;
}


/* cursor */

.pointer{
  cursor: pointer;
}



.round_status{
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 1em;
  background: #81818133;
}