
input[type='range'] {
  -webkit-appearance: none !important;
  background: #222222;
  height: 1em;
  border-radius: 1em;
}
input[type='range']::-moz-range-thumb,
input[type=range]::-webkit-slider-thumb{
  -webkit-appearance: none !important;
  background: #cb0637;
  height: 1em;
  width: 1em;
  border: transparent;
}

textarea{
  border: 1px solid transparent;
  border-radius: 0.25em;
  min-height: 10em;
  min-width: 20em;
  max-height: 10em;
  max-width: 20em;
}
textarea:focus{
  outline: none !important;
  border:1px solid #cb0637;
  box-shadow: 0 0 1px #cb0637;
}


#tooltipTimeline{
  position: absolute;
  bottom: 30px;
  background: #222222e8;
  padding: 0.25em;
  border-radius: 0.25em;
  pointer-events: none;
  transform: translateX(-50%);
  /* left: 25%; */
}

#table{
  overflow-y: scroll;
}

#timelineParent{
  cursor: pointer;
}


#download,
#comment{
  fill: none;
  cursor: pointer;
  transition: 0.2s;
}

#download:hover,
#comment:hover{

  stroke: #cb0637;

}

#status a{
  border: 2px solid transparent;
}


/* Cursor */

.cursor_pointer{
  cursor: pointer;
}



.font_20{
  font-size: 20px;
}

.font_28{
  font-size: 28px;
}



/* Input */

.input_login{

  margin-left: 24px;

  font-family: FreeMono, monospace;

  background-color: #141414;
  padding-left: 5px;
  padding-right: 5px;

  border-radius: 0.2em;
  border: 0px;
  outline: 1px solid #cb0637;

}

.input_upload{

  font-family: FreeMono, monospace;

  background-color: #141414;
  padding-left: 5px;
  padding-right: 5px;

  border-radius: 0.2em;
  border: 0px;
  outline: 1px solid #cb0637;
}



.player{

  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3em;
  background: #3333;
  border-top: 1px solid #da0000;
}


.switch_button{
  color: #cccccc;

  padding-right: 1em;
  padding-left: 1em;
  padding-bottom: 0.5em;

  cursor: pointer;
  transition: 0.2s;
}

.switch_button:hover{
  color: #cb0637;
}


.switch_button_active{
  color: #cb0637;

  padding-right: 1em;
  padding-left: 1em;
  padding-bottom: 0.5em;

  cursor: pointer;
  border-bottom: 1px solid #8f0527;
}


.music{
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;

  margin-top: 0.5em;
  margin-bottom: 0.5em;

  background: #181818 ;
  border: 1px solid transparent;

}

.music:hover{
  border: 1px solid #cb0637;
}

.table_row{
  height: 2em;
}

.table_row:hover{
  background-color: #8f052869;
}


.td_play{
  background: #8f052733;
}
.td_play:hover{
  background: #a3082f69;
}

#tooltip{
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: #00000033;
  border: 1px solid #cccccc55;
}

#upload,
#buttonLogin{
  user-select: none;
}



.pointer_event_bobe{
  pointer-events: none;
}


.table_users{
  width: 40px;
  height: 40px;
  border-radius: 1em; 
  background: #81818133; 
  border: 1px solid transparent;
}